.cabecalho{
    background: color #3a4c9b; 
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}
.cabecalho-imagem{
width: 100%;

height: 100%;
}

.cabecalho-lista-de-itens{
display: inline-block;
width: 150%;
margin: 0 4px;
}

.botão{    

background: rgb(255, 0, 0);
    width: 400px;

}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #615d5d;
    padding: 0 1110px 0px 110px;
    border: 5px solid rgb(0, 0, 0)
  }

  .video{
width: 80%;

  }